<div class="modal-body">
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="cancel()"><span
            aria-hidden="true">x</span>
    </button>
    <div class="row justify-content-center">
        <header class="mb-4">
            <h2 class="h2 g-color-black g-font-weight-600 g-mt-15" style="margin-left: 60px;">Insert Transaction ID</h2>
        </header>
        <div class="col-md-10 offset-md-1">
            <form class="form" role="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="inVoice_number">Transaction ID</label>
                    <input type="number" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15"
                        name="invoice_number" id="invoice_number" placeholder="Add Tranaction ID" 
                        [(ngModel)]="invoiceNumber">
                </div>
                <button type="submit" class="btn btn-md u-btn-primary rounded g-py-13 g-px-25">ADD</button>
                <button type="button" data-dismiss="modal" class="btn btn-md u-btn-danger rounded g-py-13 g-px-25" (click)="cancel()">Cancel</button>
            </form>
        </div>
    </div>
</div>