<div class="g-mb-30 g-mt-50">
    <form class="form" role="form" (ngSubmit)="onSubmit()" name="myForm">
        <div class="form-group row g-mb-25 g-mt-10">
            <label class="col-form-label g-mb-10 g-ml-20 g-mt-5" for="hf-email">Transaction ID</label>
        
            <div class="col-sm-3">
                <input id="hf-email" class="form-control u-form-control rounded-0" name="search"
                    placeholder="Search by Transaction ID" [(ngModel)]="searchQuery" type="name" 
                    (keyup)="onSubmit()">
            </div>
            <div class="col-sm-1">
                <button type="submit" class="btn btn-md u-btn-primary rounded-0"
                [disabled]="!searchQuery">Search</button>
            </div> 
        </div>
    </form>
</div>
<div class="card g-brd-aqua rounded-0 g-mb-30 g-mt-20">
    <h3 class="card-header g-bg-aqua g-brd-transparent g-color-white g-font-size-16 rounded-0 mb-0">
     <!--  <i class="fa fa-globe g-mr-5"></i> -->
      Unprocessed Files With a Transaction ID
    </h3>    
    <div class="card-block table-responsive g-pa-15">
        <div class="alert alert-info" *ngIf="dashboards?.length === 0">No results found</div>
        <table class="table table-striped u-table--v1 mb-0" *ngIf="dashboards?.length !== 0">
            <thead>
                <tr>
                <th>Transaction Id</th>
                <th>AccountNumber</th>
                <th>Amount</th>
                <th>Check Date</th>
                <th>Routing Number</th>
                <th>Preview</th>
                <th>Download PDF</th>
                <th>Archive</th>
                </tr>
            </thead>
                <tr *ngFor="let dashboard of dashboards | paginate: { id: 'dashboard-paginator',itemsPerPage: 10, currentPage: listPage, totalItems: listTotalItems }">   
                    <td> {{ dashboard.invoiceNumber }} </td>
                    <td> {{ dashboard.accountnumber }} </td>
                    <td> {{ dashboard.amount }} </td>
                    <td> {{ dashboard.check_date }} </td>
                    <td> {{ dashboard.routingNumber }}  </td>
                    <td>
                        <a target="_blank" (click)="download(dashboard.jpegPath)">
                            <span class="u-label u-label-info g-color-white u-label-with-icon">
                            Preview
                        </span>
                        </a>

                    </td>
                    <td>
                        <a target="_blank" (click)="download(dashboard.pdfPath)">
                        <span class="u-label u-label-primary g-color-white u-label-with-icon">
                            Download
                        </span>
                        </a>
                    </td>
                    <td>
                        <a (click)="deleteRecord(dashboard)">
                        <span class="u-label u-label-danger g-color-white u-label-with-icon">
                            Archive
                        </span>
                        </a>
                    </td>              
                </tr>
        </table>
        <pagination-controls (pageChange)="getLists($event)" id="dashboard-paginator"
        *ngIf="dashboards?.length !== 0"></pagination-controls>
    </div>
</div>
<div class="card g-brd-aqua rounded-0 g-mb-30 g-mt-20" *ngIf="!searchQuery">
    <h3 class="card-header g-bg-aqua g-brd-transparent g-color-white g-font-size-16 rounded-0 mb-0">
        <!--  <i class="fa fa-globe g-mr-5"></i> -->
        Unprocessed Files Without Transaction ID
    </h3>    
    <div class="card-block table-responsive g-pa-15">
        <table class="table table-striped u-table--v1 mb-0">
            <thead>
                <tr>
                <th>Transaction Id</th>
                <th>AccountNumber</th>
                <th>Amount</th>
                <th>Check Date</th>
                <th>Routing Number</th>
                <th>Preview</th>
                <th>Download PDF</th>
                <th>Insert Transaction ID</th>
                </tr>
            </thead>
                <tr *ngFor="let dashboard of nullDashboards | paginate: { id: 'null-paginator',itemsPerPage: 10, currentPage: nullListPage, totalItems: nullListTotalItems }">   
                    <td> {{ dashboard.invoiceNumber }} </td>
                    <td> {{ dashboard.accountnumber }} </td>
                    <td> {{ dashboard.amount }} </td>
                    <td> {{ dashboard.check_date }} </td>
                    <td> {{ dashboard.routingNumber }} </td>
                    <td>
                        <a target="_blank" (click)="download(dashboard.jpegPath)">
                            <span class="u-label u-label-info g-color-white u-label-with-icon">
                                Preview
                            </span>
                        </a>
                   </td>
                    <td>
                        <a target="_blank" (click)="download(dashboard.pdfPath)">
                        <span class="u-label u-label-primary g-color-white u-label-with-icon">
                            Download
                        </span>
                        </a>
                    </td>
                    <td>                               
                        <button (click)="openAddDialog(dashboard.id, dashboard)" class="u-label u-label-danger g-color-white u-label-with-icon">
                            Insert Transaction id
                        </button>                                
                    </td>              
                </tr>
        </table>
        <pagination-controls (pageChange)="getNullLists($event)" id="null-paginator"></pagination-controls>
    </div>
</div>
