<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<div class="container">
      <router-outlet></router-outlet>
      <router-outlet name="popup"></router-outlet>
    <jhi-footer></jhi-footer>
</div>
