<header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance" data-header-fix-moment="300"></header>
    <div class="u-header__section u-header__section--dark g-bg-primary-gradient-opacity-v1 g-transition-0_3 g-py-10" data-header-fix-moment-exclude="g-py-10"
         data-header-fix-moment-classes="g-py-0">
        <nav class="navbar navbar-expand-lg">
            <div class="jh-logo-container float-left">
                <a class="jh-navbar-toggler d-lg-none float-right" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
                    <fa-icon [icon]="'bars'"></fa-icon>
                </a>
                <a class="navbar-brand logo float-left g-ml-40" routerLink="/dashboard" (click)="collapseNavbar()">
                 <!-- <span class="logo-img"></span> -->
                    <!-- <span class="navbar-title">Exp</span> -->
                    <img src="logo.png" alt="Image Description" style="height: 37px;">
                </a>
            </div>
            <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
                <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto g-mr-40">
                    <!-- <li class="nav-item g-mx-10--lg g-mx-15--xl" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                            <span>
                                <span>Home</span>
                            </span>
                        </a>
                    </li> -->
                    <li class="nav-item" *ngSwitchCase="false">
                        <a class="nav-link" href="login" id="login">
                            <span>Sign in</span>
                        </a>
                    </li>
                    <li class="nav-item" *ngSwitchCase="true">
                        <a  class="nav-link" (click)="logout()" id="logout">
                            <span>Logout</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->

                    <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                            <span>
                                <fa-icon [icon]="'user-plus'"></fa-icon>
                                <span>Administration</span>
                            </span>
                        </a>
                        <ul class="dropdown-menu" ngbDropdownMenu>
                            <li>
                                <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                                    <fa-icon [icon]="'user'" [fixedWidth]="true"></fa-icon>
                                    <span>User management</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="admin/jhi-tracker" routerLinkActive="active" (click)="collapseNavbar()">
                                    <fa-icon [icon]="'eye'" [fixedWidth]="true"></fa-icon>
                                    <span>User tracker</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="admin/jhi-metrics" routerLinkActive="active" (click)="collapseNavbar()">
                                    <fa-icon [icon]="'tachometer-alt'" [fixedWidth]="true"></fa-icon>
                                    <span>Metrics</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="admin/jhi-health" routerLinkActive="active" (click)="collapseNavbar()">
                                    <fa-icon [icon]="'heart'" [fixedWidth]="true"></fa-icon>
                                    <span>Health</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="admin/jhi-configuration" routerLinkActive="active" (click)="collapseNavbar()">
                                    <fa-icon [icon]="'list'" [fixedWidth]="true"></fa-icon>
                                    <span>Configuration</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active" (click)="collapseNavbar()">
                                    <fa-icon [icon]="'bell'" [fixedWidth]="true"></fa-icon>
                                    <span>Audits</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                                    <fa-icon [icon]="'tasks'" [fixedWidth]="true"></fa-icon>
                                    <span>Logs</span>
                                </a>
                            </li>
                            <li *ngIf="swaggerEnabled">
                                <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                                    <fa-icon [icon]="'book'" [fixedWidth]="true"></fa-icon>
                                    <span>API</span>
                                </a>
                            </li>
                            <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                        </ul>
                    </li>
                    <!-- <li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                        <span *ngIf="!getImageUrl()">
                            <fa-icon [icon]="'user'"></fa-icon>
                            <span>
                            Account
                            </span>
                        </span>
                        </a>
                        <ul class="dropdown-menu" ngbDropdownMenu>
                            <li *ngSwitchCase="true">
                                <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                                    <fa-icon [icon]="'wrench'" [fixedWidth]="true"></fa-icon>
                                    <span>Settings</span>
                                </a>
                            </li>
                            <li *ngSwitchCase="true">
                                <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                                    <fa-icon [icon]="'clock'" [fixedWidth]="true"></fa-icon>
                                    <span>Password</span>
                                </a>
                            </li>
                            <li *ngSwitchCase="true">
                                <a class="dropdown-item" routerLink="sessions" routerLinkActive="active" (click)="collapseNavbar()">
                                    <fa-icon [icon]="'cloud'" [fixedWidth]="true"></fa-icon>
                                    <span>Sessions</span>
                                </a>
                            </li>
                            <li *ngSwitchCase="true">
                                <a class="dropdown-item" (click)="logout()" id="logout">
                                    <fa-icon [icon]="'sign-out-alt'" [fixedWidth]="true"></fa-icon>
                                    <span>Sign out</span>
                                </a>
                            </li>
                            <li *ngSwitchCase="false">
                                <a class="dropdown-item" (click)="login()" id="login">
                                    <fa-icon [icon]="'sign-in-alt'" [fixedWidth]="true"></fa-icon>
                                    <span>Sign in</span>
                                </a>
                            </li>
                            <li *ngSwitchCase="false">
                                <a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                                    <fa-icon [icon]="'user-plus'" [fixedWidth]="true"></fa-icon>
                                    <span>Register</span>
                                </a>
                            </li>
                        </ul>
                    </li> -->
                </ul>
            </div>
        </nav>
    </div>
</header>
