<div class="row">
    <div class="col-md-3">
        <!-- <span class="hipster img-fluid rounded"></span> -->
    </div>
    <div class="col-md-9">
        <!-- <h1 class="display-4">Welcome, Exp!</h1> -->
       <!--  <p class="lead">This is your homepage</p> -->

        <div [ngSwitch]="isAuthenticated()">
          <div style="margin-top: 50px;" *ngSwitchCase="true">
            <h1>Welcome to Exp</h1>
          </div>
        </div>
    </div>
</div>
