<!-- <div class="modal-header">
    <h4 class="modal-title">Sign in</h4>
   
</div> -->
<div class="modal-body">
        <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true">x</span>
        </button>
    <div class="row justify-content-center">
        <header class="mb-4">
            <h2 class="h2 g-color-black g-font-weight-600 g-mt-15" style="margin-left: 60px;">Sign in</h2>
        </header>
        <div class="col-md-8">
            <div class="alert alert-danger" *ngIf="authenticationError">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
        </div>
        <div class="col-md-10 offset-md-1">
            <form class="form" role="form" (ngSubmit)="login()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" name="username" id="username" placeholder="Your username"
                    [(ngModel)]="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" name="password" id="password" placeholder="Your password"
                           [(ngModel)]="password">
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="rememberMe">
                        <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe" checked>
                        <span>Remember me</span>
                    </label>
                </div><br>
                <button type="submit" class="btn btn-md u-btn-primary rounded g-py-13 g-px-25">Sign in</button>
            </form>
            <p></p>
            <!-- <div class="alert alert-warning">
                <a class="alert-link" (click)="requestResetPassword()">Did you forget your password?</a>
            </div>
            <div class="alert alert-warning">
                <a class="alert-link" (click)="register()">Register a new account</a>
            </div> -->
        </div>
    </div>
</div>
